/* FONTS */
/* QUESTRIAL */
@import url("https://fonts.googleapis.com/css2?family=Questrial:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* THICCCBOI */
@font-face {
    font-family: Thicccboi;
    src: url(../fonts/THICCCBOI-Regular.ttf) format("truetype");
}
/*COLOURS*/
:root {
    --light: #fff;
    --dark: #111;
    /* WHITES */
    --snow: #FFFAFA;
    --ghostwhite: #F8F8FF;
    --aliceblue: #F0F8FF;
    --antiflesh: #FAFAFA;
    --gainsboro: #F1EFF2;
    --offwhite: #FBFBFB;
    --ivory: #FFFFF0;
    /* BLACKS */
    --midnightblue: #101720;
    --deepnavyblue: #011222;
    --charcoalgray: #171717;
    --richblacks: #020D19;
    --oilblack: #0C0C0C;
    --slategray: #0D1717;
    --obsidian: #0B1215;
    /* BLUES */
    --babyblue: #89CFF0;
    --skyblue: #87CEEB;
    --horizonblue: #117CEB;
    --azure: #266FFB;
    --steelblue: #4682B4;
    --royalblue: #4169E1;
    --saphireblue: #3E59E8;
    /* GREEN */
    --green: #ADD6B8;
    /* RED */
    --red: #f55456;
    /* ORANGE */
    --orange: #F7A374;
    /* PURPLE */
    --purple: #CDB6DB;
    /* BORDER */
    --border: 1px solid rgba(0,0,0,.1);
    /* SHADOW */
    --shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    /* BACKGROUND */
    --background: #2D5299;
}
html {
    font-family: Thicccboi, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
}
.red {
    background: var(--red);
}
.orange {
    background: var(--orange);
}
.green {
    background: var(--green);
}
.purple {
    background: var(--purple);
}
/* TRANSITION */
.App, .sidenav-container, .body-container, .flex-wrap > div {
    transition: .2s ease-in-out;
}
/* DARK THEME */
.dark-theme, .dark-theme .sidenav-container{
    background: var(--richblacks) !important;
}
.dark-theme .body-container {
    background: var(--oilblack);
}
.dark-theme .title-wrap h1 {
    color: var(--light)
}
.dark-theme .flex-wrap > div {
    background: var(--charcoalgray);
    border-color: rgba(255,255,255,.05);
}
.dark-theme .input-group label,.dark-theme .input-group svg {
    color: #a9a9a9
}
.dark-theme .input-group fieldset {
    border-color: rgba(255,255,255, 0.23);
}
.dark-theme .input-group input,.dark-theme .input-group li {
    color: #fff;
}
.dark-theme .input-group .MuiSlider-markLabel {
    color: #a9a9a9
}
.dark-theme .input-group p, .dark-theme .input-group div > div{
    color: #a9a9a9
}
.dark-theme .input-group p > span {
    color: #fff;
    background-color: #111;
}
.dark-theme .flex-wrap > div > h2 {
    background: rgba(0,0,0,.4);
    color: #a9a9a9;
}
.dark-theme .sidenav-container .date-time-box {
    color: #a9a9a9;
}
.dark-theme .results-container .block {
    background: rgba(0,0,0,.2);
}
.dark-theme .results-container h5,.dark-theme .results-container h3 {
    color: #fff
}
.dark-theme .nav-menu img {
    filter: invert(.2);
}
.dark-theme .nav-menu p {
    color: rgba(255,255,255,.2);
}
.dark-theme .nav-menu .active {
    background: var(--oilblack);
}
.dark-theme .nav-menu .active::before {
    box-shadow: 0 -25px 0 0 var(--oilblack);
}
.dark-theme .nav-menu a::after {
    background: var(--oilblack);
    transition: .2s ease-in-out;
}
.dark-theme .nav-menu a:hover p,.dark-theme .nav-menu .active p {
    color: #fff;
}
.dark-theme .nav-menu a:hover img,.dark-theme .nav-menu .active img {
    filter: invert(1);
}
.dark-theme .sidenav-container > img {
    filter: drop-shadow(0 0 0.75rem var(--background));
}
.dark-theme .input-group .value-box input {
    color: #fff;
    background: rgba(0,0,0,0.2);
}
.dark-theme .MuiButtonBase-root:disabled {
    background-color: rgba(255,255,255,0.1);
    color:rgba(0,0,0,0.5);
}