.calc-container {
    background: var(--offwhite);
    width: 500px;
    margin: 0 1rem;
    border-radius: 8px;
    border: var(--border);
    padding: 0 1rem;
}
.input-group {
    padding: 1rem 0;
    /* border-bottom: var(--border); */
}
.input-group > div {
    width: 100%;
    transition: .2s ease-in-out;
}
.input-group input {
    font-family: inherit;
}
.input-group label {
    display: block;
    text-align: left;
    font-family: inherit;
    left: -2px;
}
.input-group > span {
    width: calc(100% - 120px);
}
.input-group .value-box {
    text-align: center;
    width: 100px;
    float: right;
    font-size: .8rem;
    margin-top: -15px;
}
.input-group .value-box input {
    text-align: center;
    font-size: 1rem;
    color: var(--obsidian);
    font-weight: 600;
    background: rgba(0,0,0,.05);
    margin-top: 2px;
    padding: .4rem 0 .4rem 12px;
    border-radius: 4px;
    min-width: 42px;
    display: block;
    border: var(--border);
}
.input-group .value-box .css-bz5ng3-MuiInputBase-root-MuiInput-root.Mui-error input {
    color: var(--red);
}
.input-group-shared {
    display: flex;
}
.input-group-shared > div {
    flex: 3;
}
.input-group-shared > div:first-child {
    flex: 1;
    margin-right: 1rem;
}
.input-group button {
    margin-left: auto;
    display: block;
}