.results-container {
    height: fit-content;
}
.results-container h3 {
    font-size: 1.2rem;
    margin: 1rem 0 .5rem;
}
.results-container h4 {
    font-size: 1rem;
    margin: .5rem 0;
}
.results-container h5 {
    font-size: 2rem;
    margin: 1rem 0 0;
    position: relative;
}
.results-container p {
    font-size: .8rem;
    color: #a9a9a9
}
.results-container .block {
    background: var(--ghostwhite);
    border: var(--border);
    margin: .5rem 0;
    border-radius: 4px;
    padding: .5rem;
    text-align: center;
    min-height: 70px;
}
.results-container .block h5 > span {
    color: #a9a9a9;
    position: absolute;
    left: 1rem;
    top: .5rem;
    font-size: 1.4rem;
}
.results-container .block h5 > em {
    font-size: .8rem;
    color: #a9a9a9;
    position: absolute;
    top: 0;
    margin-left: 1rem;
}